
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<!-- ************************** -->
<!-- ************************** -->
<!-- PHASE BANNER AND BACK LINK -->
<div class="govuk-grid-row govuk-!-margin-bottom-9" style="margin-top:-50px">
  <div class="govuk-grid-column-full">

    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          beta
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>

    <!--<a href="javascript:history.back()" class="govuk-back-link">Back</a>-->

  </div>
</div>







  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Your claim for redundancy and other money owed</h1>

      <p class="govuk-heading-s govuk-!-margin-bottom-1">Claim incomplete</p>
      <p class="govuk-body">You’ve completed 1 of 7 sections.</p>
    </div>

    <div class="govuk-grid-column-full">
      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span>Basic details
          </h2>
          <ul class="app-task-list__items">

            <li class="app-task-list__item">
              <span class="app-task-list__task-name task-list-col-1">
                <span class="govuk-body">
                  Case reference number
                </span>
              </span>
              <span class="app-task-list__task-name">
                  CN00037506
              </span>
              <a href="#" class="app-task-list__tag">Change</a>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name task-list-col-1">
                <span class="govuk-body">
                  Employer name
                </span>
              </span>
              <span class="app-task-list__task-name">
                  East Lancs Commercials Limited
              </span>
              <a href="#" class="app-task-list__tag">Change</a>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name task-list-col-1">
                <span class="govuk-body">
                  Employers address
                </span>
              </span>
              <span class="app-task-list__task-name">
                The Garage Workshop<br/>
                Warrington Road<br/>
                Glazebury<br/>
                Warrington<br/>
                WA13 5PG
              </span>
              <a href="#" class="app-task-list__tag">Change</a>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name task-list-col-1">
                <span class="govuk-body">
                  Did you work at this address?
                </span>
              </span>
              <span class="app-task-list__task-name">
                  Yes
              </span>
              <a href="#" class="app-task-list__tag">Change</a>
            </li>

          </ul>
        </li>





        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span>Job title and category
          </h2>
          <ul class="app-task-list__items">

            <li class="app-task-list__item">
              <span class="app-task-list__task-name task-list-col-1">
                <span class="govuk-body">
                  What is your job title?
                </span>
              </span>
              <span class="app-task-list__task-name">
                  Director
              </span>
              <a href="#" class="app-task-list__tag">Change</a>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name task-list-col-1">
                <span class="govuk-body">
                  What was your employee number? (optional)
                </span>
              </span>
              <span class="app-task-list__task-name">
                  13243546
              </span>
              <a href="#" class="app-task-list__tag">Change</a>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name task-list-col-1">
                <span class="govuk-body">
                  What category of worker were you?
                </span>
              </span>
              <span class="app-task-list__task-name">
                  Director
              </span>
              <a href="#" class="app-task-list__tag">Change</a>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name task-list-col-1">
                <span class="govuk-body">
                  Were you the sole director of EAST LANCS COMMERCIAL LTD when you were dismissed?
                </span>
              </span>
              <span class="app-task-list__task-name">
                  Yes
              </span>
              <a href="#" class="app-task-list__tag">Change</a>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name task-list-col-1">
                <span class="govuk-body">
                  Did you work at this address?
                </span>
              </span>
              <span class="app-task-list__task-name">
                  Yes
              </span>
              <a href="#" class="app-task-list__tag">Change</a>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name task-list-col-1">
                <a href="more-information-about-your-directorship" aria-describedby="read-declaration-status">
                  Were you a shareholder of EAST LANCS COMMERCIAL LTD when you were dismissed?
                </a>
              </span>
              <span class="app-task-list__task-name">
                  &nbsp;
              </span>
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status">In progress</strong>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name task-list-col-1">
                <span class="govuk-body">
                  Were there any other shareholders of EAST LANCS COMMERCIAL LTD when you were dismissed?
                </span>
              </span>
              <span class="app-task-list__task-name">
                  &nbsp;
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Cannot start yet</strong>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name task-list-col-1">
                <span class="govuk-body">
                  When did your employment with EAST LANCS COMMERCIAL LTD start?
                </span>
              </span>
              <span class="app-task-list__task-name">
                  &nbsp;
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Cannot start yet</strong>
            </li>

          </ul>
        </li>





        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span>Claim for loss of notice
          </h2>
          <ul class="app-task-list__items">

            <li class="app-task-list__item">
              <span class="app-task-list__task-name task-list-col-1">
                <span class="govuk-body">
                  Do you want to claim compensation for loss of notice?
                </span>
              </span>
              <span class="app-task-list__task-name">
                  &nbsp;
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Cannot start yet</strong>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name task-list-col-1">
                <span class="govuk-body">
                  Is EAST LANCS COMMERCIAL LTD insolvent?
                </span>
              </span>
              <span class="app-task-list__task-name">
                  &nbsp;
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Cannot start yet</strong>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name task-list-col-1">
                <span class="govuk-body">
                  Has EAST LANC COMMERCIAL LTD been placed into either a bankruptcy or compulsory liquidation?
                </span>
              </span>
              <span class="app-task-list__task-name">
                  &nbsp;
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Cannot start yet</strong>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name task-list-col-1">
                <span class="govuk-body">
                  Were you the director responsible for initial discussions with the insolvency practitioner?
                </span>
              </span>
              <span class="app-task-list__task-name">
                  &nbsp;
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Cannot start yet</strong>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name task-list-col-1">
                <span class="govuk-body">
                  When did you start the initial discussions with the insolvency practitioner?
                </span>
              </span>
              <span class="app-task-list__task-name">
                  &nbsp;
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Cannot start yet</strong>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name task-list-col-1">
                <span class="govuk-body">
                  When did the insolvency practitioner advise you to place EAST LANCS COMMERCIAL LTD into insolvency?
                </span>
              </span>
              <span class="app-task-list__task-name">
                  &nbsp;
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Cannot start yet</strong>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name task-list-col-1">
                <span class="govuk-body">
                  Do you know which director was responsible for starting the initial discussions with the insolvency practitioner?
                </span>
              </span>
              <span class="app-task-list__task-name">
                  &nbsp;
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Cannot start yet</strong>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name task-list-col-1">
                <span class="govuk-body">
                  Which director was responsible for initial discussions with the insolvency practitioner?
                </span>
              </span>
              <span class="app-task-list__task-name">
                  &nbsp;
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Cannot start yet</strong>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name task-list-col-1">
                <span class="govuk-body">
                  When were you made aware that the insolvency practitioner had been contacted?
                </span>
              </span>
              <span class="app-task-list__task-name">
                  &nbsp;
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Cannot start yet</strong>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name task-list-col-1">
                <span class="govuk-body">
                  When did the insolvency practitioner advise you to place EAST LANCS COMMERCIAL LTD into insolvency?
                </span>
              </span>
              <span class="app-task-list__task-name">
                  &nbsp;
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Cannot start yet</strong>
            </li>

          </ul>
        </li>






        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">4. </span>Gross director earnings
          </h2>
          <ul class="app-task-list__items">

            <li class="app-task-list__item">
              <span class="app-task-list__task-name task-list-col-1">
                <span class="govuk-body">
                  How many days a week did you normally work?
                </span>
              </span>
              <span class="app-task-list__task-name">
                  &nbsp;
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Cannot start yet</strong>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name task-list-col-1">
                <span class="govuk-body">
                  Which days did you normally work?
                </span>
              </span>
              <span class="app-task-list__task-name">
                  &nbsp;
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Cannot start yet</strong>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name task-list-col-1">
                <span class="govuk-body">
                  Did you work irregular shift patterns?
                </span>
              </span>
              <span class="app-task-list__task-name">
                  &nbsp;
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Cannot start yet</strong>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name task-list-col-1">
                <span class="govuk-body">
                  Tell us more about your irregular shifts
                </span>
              </span>
              <span class="app-task-list__task-name">
                  &nbsp;
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Cannot start yet</strong>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name task-list-col-1">
                <span class="govuk-body">
                  Your gross earnings
                </span>
              </span>
              <span class="app-task-list__task-name">
                  &nbsp;
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Cannot start yet</strong>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name task-list-col-1">
                <span class="govuk-body">
                  Were you paid less than National Minimum Wage at any point in the last 3 years?
                </span>
              </span>
              <span class="app-task-list__task-name">
                  &nbsp;
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Cannot start yet</strong>
            </li>

          </ul>
        </li>





        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">5. </span>Wages and other money owed
          </h2>
          <ul class="app-task-list__items">

            <li class="app-task-list__item">
              <span class="app-task-list__task-name task-list-col-1">
                <span class="govuk-body">
                  Are you owed any money?
                </span>
              </span>
              <span class="app-task-list__task-name">
                  &nbsp;
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Cannot start yet</strong>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name task-list-col-1">
                <span class="govuk-body">
                  Did your wages have any deductions imposed by a court?
                </span>
              </span>
              <span class="app-task-list__task-name">
                  &nbsp;
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Cannot start yet</strong>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name task-list-col-1">
                <span class="govuk-body">
                  Dates of monies owed
                </span>
              </span>
              <span class="app-task-list__task-name">
                  &nbsp;
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Cannot start yet</strong>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name task-list-col-1">
                <span class="govuk-body">
                  Did your employer attempt to pay you?
                </span>
              </span>
              <span class="app-task-list__task-name">
                  &nbsp;
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Cannot start yet</strong>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name task-list-col-1">
                <span class="govuk-body">
                  What is the gross amount of pay owed between 12 December 2020 and 15 December 2020?
                </span>
              </span>
              <span class="app-task-list__task-name">
                  &nbsp;
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Cannot start yet</strong>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name task-list-col-1">
                <span class="govuk-body">
                  Number of unpaid days worked
                </span>
              </span>
              <span class="app-task-list__task-name">
                  &nbsp;
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Cannot start yet</strong>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name task-list-col-1">
                <span class="govuk-body">
                  What is the net amount of pay owed between 12 December 2020 and 15 December 2020?
                </span>
              </span>
              <span class="app-task-list__task-name">
                  &nbsp;
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Cannot start yet</strong>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name task-list-col-1">
                <span class="govuk-body">
                  Are you owed any other money, apart from your wages?
                </span>
              </span>
              <span class="app-task-list__task-name">
                  &nbsp;
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Cannot start yet</strong>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name task-list-col-1">
                <span class="govuk-body">
                  Provide details on any other money owed to you not declared in previous sections
                </span>
              </span>
              <span class="app-task-list__task-name">
                  &nbsp;
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Cannot start yet</strong>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name task-list-col-1">
                <span class="govuk-body">
                  Do you owe EAST LANCS COMMERCIAL LTD any money?
                </span>
              </span>
              <span class="app-task-list__task-name">
                  &nbsp;
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Cannot start yet</strong>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name task-list-col-1">
                <span class="govuk-body">
                  What do you owe money to your previous employer for?
                </span>
              </span>
              <span class="app-task-list__task-name">
                  &nbsp;
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Cannot start yet</strong>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name task-list-col-1">
                <span class="govuk-body">
                  How much do you owe?
                </span>
              </span>
              <span class="app-task-list__task-name">
                  &nbsp;
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Cannot start yet</strong>
            </li>

          </ul>
        </li>








        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">6. </span>Information on who is completing this form
          </h2>
          <ul class="app-task-list__items">

            <li class="app-task-list__item">
              <span class="app-task-list__task-name task-list-col-1">
                <span class="govuk-body">
                  Who is completing this form?
                </span>
              </span>
              <span class="app-task-list__task-name">
                  &nbsp;
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Cannot start yet</strong>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name task-list-col-1">
                <span class="govuk-body">
                  Did you receive any help completing this form?
                </span>
              </span>
              <span class="app-task-list__task-name">
                  &nbsp;
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Cannot start yet</strong>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name task-list-col-1">
                <span class="govuk-body">
                  Was this help paid for?
                </span>
              </span>
              <span class="app-task-list__task-name">
                  &nbsp;
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Cannot start yet</strong>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name task-list-col-1">
                <span class="govuk-body">
                  Who helped complete this claim?
                </span>
              </span>
              <span class="app-task-list__task-name">
                  &nbsp;
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Cannot start yet</strong>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name task-list-col-1">
                <span class="govuk-body">
                  Details of who helped complete this claim on behalf of the claimant.
                </span>
              </span>
              <span class="app-task-list__task-name">
                  &nbsp;
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Cannot start yet</strong>
            </li>

          </ul>
        </li>






        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">7. </span>Payment
          </h2>
          <ul class="app-task-list__items">

            <li class="app-task-list__item">
              <span class="app-task-list__task-name task-list-col-1">
                <span class="govuk-body">
                  National Insurance number
                </span>
              </span>
              <span class="app-task-list__task-name">
                  &nbsp;
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Cannot start yet</strong>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name task-list-col-1">
                <span class="govuk-body">
                  How would you like to be paid?
                </span>
              </span>
              <span class="app-task-list__task-name">
                  &nbsp;
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Cannot start yet</strong>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name task-list-col-1">
                <span class="govuk-body">
                  Are you the account holder where the payment will be sent?
                </span>
              </span>
              <span class="app-task-list__task-name">
                  &nbsp;
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Cannot start yet</strong>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name task-list-col-1">
                <span class="govuk-body">
                  Do you want to continue with payment into someone else’s account?
                </span>
              </span>
              <span class="app-task-list__task-name">
                  &nbsp;
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Cannot start yet</strong>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name task-list-col-1">
                <span class="govuk-body">
                  Why do you want the payment sent to an account not in the claimant’s name?
                </span>
              </span>
              <span class="app-task-list__task-name">
                  &nbsp;
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Cannot start yet</strong>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name task-list-col-1">
                <span class="govuk-body">
                  Bank or building society account details
                </span>
              </span>
              <span class="app-task-list__task-name">
                  &nbsp;
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Cannot start yet</strong>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name task-list-col-1">
                <span class="govuk-body">
                  Account holder details
                </span>
              </span>
              <span class="app-task-list__task-name">
                  &nbsp;
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Cannot start yet</strong>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name task-list-col-1">
                <span class="govuk-body">
                  Bank or building society account verification
                </span>
              </span>
              <span class="app-task-list__task-name">
                  &nbsp;
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Cannot start yet</strong>
            </li>

          </ul>
        </li>






      </ol>

    </div>
  </div>

{% endblock %}
