
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <!-- ************************** -->
  <!-- ************************** -->
  <!-- PHASE BANNER AND BACK LINK -->
  <div class="govuk-grid-row govuk-!-margin-bottom-9" style="margin-top:-50px">
    <div class="govuk-grid-column-full">

      <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
          <strong class="govuk-tag govuk-phase-banner__content__tag">
            beta
          </strong>
          <span class="govuk-phase-banner__text">
            This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
          </span>
        </p>
      </div>

      <!--<a href="javascript:history.back()" class="govuk-back-link">Back</a>-->

    </div>
  </div>






  <!-- ************************** -->
  <!-- ************************** -->
  <!-- PHASE BANNER AND BACK LINK -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          New claim started
        </h1>
        <div class="govuk-panel__body-s govuk-!-margin-bottom-3">
          You can use your email to access your claim:
        </div>
        <div class="govuk-panel__body-s">
          <strong>{{ data['claimant-email'] }}</strong>
        </div>
      </div>

      <div class="govuk-!-padding-bottom-9"></div>

      <p class="govuk-body">If you continue with your claim now, you can safely exit partway through, by either selecting “Save and continue” or closing your browser. Then you can return to continue with your claim.</p>

      <a href="end-of-prototype" class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Continue with your claim
      </a>

      <p class="govuk-body">or</p>

      <a href="start-page" class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Sign out and continue later
      </a>

      <p class="govuk-body">You’ll be able to return to this claim at any point over the next 30 days and pick up where you left off.</p>

    </div>
  </div>

{% endblock %}
