
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<!-- ************************** -->
<!-- ************************** -->
<!-- PHASE BANNER AND BACK LINK -->
<div class="govuk-grid-row govuk-!-margin-bottom-9" style="margin-top:-50px">
  <div class="govuk-grid-column-full">

    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          beta
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

  </div>
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Enter your details</h1>




      <div class="govuk-inset-text">
        <strong>[CONTENT TO BE CONFIRMED]</strong> This information can not be ammended when returning to a saved claim that has not yet been submitted.
      </div>





      <form class="form" action="new-your-email-address" method="post">

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="claimant-title">
            What is your title?
          </label>
          <select class="govuk-select" id="sort" name="claimant-title">
            <option value="" selected>Choose...</option>
            <option value="Miss">Miss</option>
            <option value="Mr">Mr</option>
            <option value="Ms">Ms</option>
            <option value="Mrs">Mrs</option>
            <option value="Professer">Professer</option>
            <option value="Doctor">Doctor</option>
            <option value="Lord">Lord</option>
            <option value="Reverend">Reverend</option>
          </select>
        </div>

        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="claimant-first-name">
              What is your first name?
            </label>
          </h1>
          <input class="govuk-input" id="claimant-first-name" name="claimant-first-name" type="text">
        </div>

        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="claimant-surname">
              What is your last name?
            </label>
          </h1>
          <input class="govuk-input" id="claimant-surname" name="claimant-surname" type="text">
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="claimant-dob-hint">
            <legend class="govuk-fieldset__legend govuk-label--s">
              What is your date of birth?
            </legend>
            <div id="claimant-dob-hint" class="govuk-hint">
              For example, 27 3 2007
            </div>
            <div class="govuk-date-input" id="claimant-dob">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="claimant-dob-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="claimant-dob-day" name="claimant-dob-day" type="text" pattern="[0-9]*" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="claimant-dob-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="claimant-dob-month" name="claimant-dob-month" type="text" pattern="[0-9]*" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="claimant-dob-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="claimant-dob-year" name="claimant-dob-year" type="text" pattern="[0-9]*" inputmode="numeric">
                </div>
              </div>
            </div>

          </fieldset>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="claimant-gender-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h2 class="govuk-fieldset__heading">
                What is your gender?
              </h2>
            </legend>
            <!--<div id="claimant-dob-hint" class="govuk-hint">
              Is this information required? seems a bit odd to ask about gender for a financial claim? Help text to be confirmed
            </div>-->
            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="claimant-gender" name="claimant-gender" type="radio" value="Male">
                <label class="govuk-label govuk-radios__label" for="claimant-gender">
                  Male
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="claimant-gender-2" name="claimant-gender" type="radio" value="Female">
                <label class="govuk-label govuk-radios__label" for="claimant-gender-2">
                  Female
                </label>
              </div>
            </div>

          </fieldset>
        </div>

        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="claimant-address">
              What is your contact address?
            </label>
          </h1>

          <p class="govuk-label-wrapper"><label class="govuk-label" for="claimant-address-building-and-street">
              Building and street
            </label>
          </p>
          <input class="govuk-input govuk-!-margin-bottom-2" id="claimant-address-building-and-street" name="claimant-address-building-and-street" type="text" aria-describedby="claimant-address-building-and-street-hint">

          <p class="govuk-label-wrapper"><label class="govuk-label" for="claimant-address-line-2">
              Address line 2
            </label>
          </p>
          <input class="govuk-input govuk-!-margin-bottom-2" id="claimant-address-line-2" name="claimant-address-line-2" type="text" aria-describedby="claimant-address-line-2-hint">

          <p class="govuk-label-wrapper"><label class="govuk-label" for="claimant-address-line-3">
              Address line 3
            </label>
          </p>
          <input class="govuk-input govuk-!-margin-bottom-2" id="claimant-address-line-3" name="claimant-address-line-3" type="text" aria-describedby="claimant-address-line-3-hint">

          <p class="govuk-label-wrapper"><label class="govuk-label" for="claimant-address-town-or-city">
              Town or city
            </label>
          </p>
          <input class="govuk-input govuk-!-margin-bottom-2" id="claimant-address-town-or-city" name="claimant-address-town-or-city" type="text" aria-describedby="claimant-address-town-or-city-hint">

          <p class="govuk-label-wrapper"><label class="govuk-label" for="claimant-address-county">
              County (optional)
            </label>
          </p>
          <input class="govuk-input govuk-!-margin-bottom-2" id="claimant-address-county" name="claimant-address-county" type="text" aria-describedby="claimant-address-county-hint">

          <p class="govuk-label-wrapper"><label class="govuk-label" for="claimant-address-postcode">
              Postcode
            </label>
          </p>
          <input class="govuk-input govuk-!-margin-bottom-2" id="claimant-address-postcode" name="claimant-address-postcode" type="text" aria-describedby="claimant-address-postcode-hint">

          <div class="govuk-form-group">
            <label class="govuk-label" for="claimant-address-country">
              Country
            </label>
            <select class="govuk-select" id="claimant-address-country" name="claimant-address-country">
              <option value="United Kingdom" selected>United Kingdom</option>
              <option value="Non-UK address">Non-UK address</option>
            </select>
          </div>

        </div>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>

        <p><a href="#">Cancel and delete all details</a></p>

      </form>

    </div>
  </div>

{% endblock %}
