
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<!-- ************************** -->
<!-- ************************** -->
<!-- PHASE BANNER AND BACK LINK -->
<div class="govuk-grid-row govuk-!-margin-bottom-9" style="margin-top:-50px">
  <div class="govuk-grid-column-full">

    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          beta
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

  </div>
</div>







  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">No email address</h1>

      <p class="govuk-body">If you do not give us a valid email address you will not be able to save your claim to continue it later.</p>

      <p class="govuk-body">If you do not give us a valid email address, we will:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>be unable to send you a summary of your application</li>
        <li>send confirmation of payment by post</li>
        <li>tell you when it is the right time for you to claim for loss of notice, if you are eligible to do so, by post</li>
      </ul>





      <form class="form" action="no-email-address" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                <label class="govuk-label govuk-checkboxes__label" for="waste">
                  I understand that if I choose to proceed without my email that I will not be notified about my claim
                </label>
              </div>
            </div>

          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>

        <p><a href="#">Cancel and delete all details</a></p>

      </form>

    </div>
  </div>

{% endblock %}
