
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Unbranded page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/step-by-step-nav.js"></script>
<script type="text/javascript">
  var $element = $('#step-by-step-navigation')
  var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
  stepByStepNavigation.start($element)
</script>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Save and return design prototype
        <!--<span class="govuk-caption-xl">v1.0</span>-->
      </h1>
      <p class="govuk-!-padding-bottom-6">
        These design prototypes are a work in progress and subject to change.
      </p>








      <div class="app-step-nav-related app-step-nav-related--singular">
        <h2 class="app-step-nav-related__heading">
          <strong class="govuk-tag govuk-!-margin-bottom-2">
            Current
          </strong>
          <span class="app-step-nav-related__pretitle govuk-heading-m govuk-!-margin-bottom-4">Prototype 2</span>
          <a href="v2/start-page" class="govuk-button" data-module="govuk-button">
            Start prototype
          </a>
          <div class="govuk-!-padding-bottom-2"></div>
          <p>Or you can view a specific page using the links below (note that the prototype may not function correctly when viewing individual pages).</p>
        </h2>
      </div>

      <div id="step-by-step-navigation" data-module="gemstepnav" class="app-step-nav js-hidden " data-id="e01e924b-9c7c-4c71-8241-66a575c2f61f" data-show-text="show" data-hide-text="hide" data-show-all-text="Show all" data-hide-all-text="Hide all">


        <ol class="app-step-nav__steps">

          <!-- ********* -->
          <!-- ********* -->
          <!-- SECTION 1 -->
          <li class="app-step-nav__step js-step " aria-current="step" id="check-youre-allowed-to-drive" >
            <div class="app-step-nav__header js-toggle-panel" data-position="1">
              <h3 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                  <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      <span class="app-step-nav__circle-step-label govuk-visually-hidden">Section</span> 1
                      <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                    </span>
                  </span>
                </span>
                <span class="js-step-title">
                  Start page screens
                </span>
              </h3>
            </div>
            <div class="app-step-nav__panel js-panel" id="step-panel-check-youre-allowed-to-drive-1">
              <ol class="app-step-nav__list " data-length="2">
                <!--<li class="app-step-nav__list-item js-list-item app-step-nav__list-item--active">-->
                <li class="app-step-nav__list-item js-list-item">
                  <a data-position="1.1" class="app-step-nav__link js-link" href="v2/start-page">GOV.UK start page</a></li>
                <li class="app-step-nav__list-item js-list-item ">
                  <a data-position="1.2" class="app-step-nav__link js-link" href="v2/apply-for-a-claim">Apply for a claim</a> <span class="app-step-nav__context">service start page</span>
                </li>
              </ol>
            </div>
          </li>


          <!-- ********* -->
          <!-- ********* -->
          <!-- SECTION 2 -->
          <li class="app-step-nav__step js-step" id="get-a-provisional-licence" >
            <div class="app-step-nav__header js-toggle-panel" data-position="2">
              <h3 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                  <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      <span class="app-step-nav__circle-step-label govuk-visually-hidden">Section</span> 2
                      <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                    </span>
                  </span>
                </span>
                <span class="js-step-title">
                  New claim screens
                </span>
              </h3>
            </div>
            <div class="app-step-nav__panel js-panel" id="step-panel-get-a-provisional-licence-2">
              <ol class="app-step-nav__list " data-length="4">
                <li class="app-step-nav__list-item js-list-item ">
                  <a data-position="2.1" class="app-step-nav__link js-link" href="v2/new-enter-your-details">Enter your details</a>
                </li>
                <li class="app-step-nav__list-item js-list-item ">
                  <a data-position="2.2" class="app-step-nav__link js-link" href="v2/new-your-email-address">Your email address</a>
                </li>
                <li class="app-step-nav__list-item js-list-item ">
                  <a data-position="2.3" class="app-step-nav__link js-link" href="v2/new-confirm-your-email-address">Confirm your email address</a>
                </li>
                <li class="app-step-nav__list-item js-list-item ">
                  <a data-position="2.4" class="app-step-nav__link js-link" href="v2/new-confirm-your-details">Confirm your details</a> <span class="app-step-nav__context">summary screen</span>
                </li>
              </ol>
            </div>
          </li>


          <!-- ********* -->
          <!-- ********* -->
          <!-- SECTION 3 -->
          <li class="app-step-nav__step js-step" id="driving-lessons-and-practice" >
            <div class="app-step-nav__header js-toggle-panel" data-position="3">
              <h3 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                  <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      <span class="app-step-nav__circle-step-label govuk-visually-hidden">Section</span> 3
                      <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                    </span>
                  </span>
                </span>
                <span class="js-step-title">
                  Continue with a saved claim flow
                </span>
              </h3>
            </div>
            <div class="app-step-nav__panel js-panel" id="step-panel-driving-lessons-and-practice-3">
              <ol class="app-step-nav__list " data-length="3">
                <li class="app-step-nav__list-item js-list-item ">
                  <a data-position="3.1" class="app-step-nav__link js-link" href="v2/your-email-address">Your email address</a>
                </li>
                <li class="app-step-nav__list-item js-list-item ">
                  <a data-position="3.2" class="app-step-nav__link js-link" href="v2/confirm-your-email-address-and-date-of-birth">Confirm your email address and date of birth</a>
                </li>
                <li class="app-step-nav__list-item js-list-item ">
                  <a data-position="3.3" class="app-step-nav__link js-link" href="v2/claim-for-reduncancy-an-monies-saved">Progress summary screen</a>
                </li>
              </ol>
            </div>
          </li>



          <!-- ********* -->
          <!-- ********* -->
          <!-- SECTION 4 -->
          <!--
          <li class="app-step-nav__step js-step" id="book-and-manage-your-theory-test" >
            <div class="app-step-nav__header js-toggle-panel" data-position="4">
              <h3 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                  <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      <span class="app-step-nav__circle-step-label govuk-visually-hidden">Section</span> 4
                      <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                    </span>
                  </span>
                </span>
                <span class="js-step-title">
                  Save progress screens
                </span>
              </h3>
            </div>
            <div class="app-step-nav__panel js-panel" id="step-panel-book-and-manage-your-theory-test-4">
              <ol class="app-step-nav__list " data-length="3">
                <li class="app-step-nav__list-item js-list-item ">
                  <a data-position="4.1" class="app-step-nav__link js-link" href="v2/more-information-about-your-directorship">Example screen</a> <span class="app-step-nav__context">used to show 'save progress'</span>
                </li>
                <li class="app-step-nav__list-item js-list-item ">
                  <a data-position="4.2" class="app-step-nav__link js-link" href="/v2/progress-saved">Progress saved</a>
                </li>
              </ol>
            </div>
          </li>
          -->



          <!-- ********* -->
          <!-- ********* -->
          <!-- SECTION 4 -->
          <li class="app-step-nav__step js-step" id="book-and-manage-your-driving-test" >
            <div class="app-step-nav__header js-toggle-panel" data-position="4">
              <h3 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                  <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      <span class="app-step-nav__circle-step-label govuk-visually-hidden">Section</span> 4
                      <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                    </span>
                  </span>
                </span>
                <span class="js-step-title">
                  Error screen
                </span>
              </h3>
            </div>
            <div class="app-step-nav__panel js-panel" id="step-panel-book-and-manage-your-driving-test-4">
              <ol class="app-step-nav__list " data-length="1">
                <li class="app-step-nav__list-item js-list-item ">
                  <a data-position="4.1" class="app-step-nav__link js-link" href="v2/access-error-or-timeout">Access error or timeout</a>
                </li>
              </ol>
            </div>
          </li>






          <!-- ********* -->
          <!-- ********* -->
          <!-- SECTION 5 -->
          <li class="app-step-nav__step js-step" id="book-and-manage-your-driving-test" >
            <div class="app-step-nav__header js-toggle-panel" data-position="5">
              <h3 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                  <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      <span class="app-step-nav__circle-step-label govuk-visually-hidden">Section</span> 5
                      <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                    </span>
                  </span>
                </span>
                <span class="js-step-title">
                  Example emails
                </span>
              </h3>
            </div>
            <div class="app-step-nav__panel js-panel" id="step-panel-book-and-manage-your-driving-test-5">
              <p class="app-step-nav__paragraph">These are examples of the types of emails that may be sent to claimants.</p>
              <ol class="app-step-nav__list " data-length="2">
                <li class="app-step-nav__list-item js-list-item ">
                  <a data-position="5.1" class="app-step-nav__link js-link" href="v2/example-of-5-digit-code-email">5-digit code email</a>
                </li>
                <li class="app-step-nav__list-item js-list-item ">
                  <a data-position="5.2" class="app-step-nav__link js-link" href="v2/example-of-reminder-email">Reminder email</a>
                </li>
              </ol>
            </div>
          </li>





        </ol>
      </div>












      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <strong class="govuk-tag govuk-tag--grey govuk-!-margin-bottom-2">
        Archived
      </strong>

      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Protoype 1</h2>
      <p class="govuk-body">This prototype includes:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Continue with a saved claim - unauthenticated starting point</li>
        <li>Save whilst claim in progress - authenticated</li>
        <li>Example of the 5-digit code email</li>
        <li>Example of a reminder email</li>
      </ul>

      <a href="v1/start-page" class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Start prototype
      </a>


      <p><a href="v1/claim-for-reduncancy-an-monies-saved">Quick link to the claim progress page</a></p>
      <p><a href="v1/example-of-6-digit-code-email">View example of 6-digit code email</a></p>
      <p><a href="v1/example-of-reminder-email">View example of reminder email</a></p>

      <!--
      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Protoype 2</h2>
      <p class="govuk-body">This prototype includes:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Save whilst claim in progess - authenticated</li>
      </ul>
      <a href="v2/start-page" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
        Start protoype 2
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
        </svg>
      </a>
      -->

    </div>

  </div>

{% endblock %}
