
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Save and return prototype
        <span class="govuk-caption-xl">v1.0</span>
      </h1>
      <p>
        Save and return design prototypes
      </p>

      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Protoype 1</h2>
      <p class="govuk-body">This prototype includes:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Continue with a saved claim - unauthenticated starting point</li>
        <li>Save whilst claim in progress - authenticated</li>
      </ul>
      <a href="v1/start-page" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
        Start protoype
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
        </svg>
      </a>
      <p><a href="v1/example-of-6-digit-code-email">View example of 6-digit code email</a></p>
      <p><a href="v1/example-of-reminder-email">View example of reminder email</a></p>

      <!--
      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Protoype 2</h2>
      <p class="govuk-body">This prototype includes:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Save whilst claim in progess - authenticated</li>
      </ul>
      <a href="v2/start-page" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
        Start protoype 2
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
        </svg>
      </a>
      -->

    </div>
  </div>

{% endblock %}
